registry=https://registry.npmjs.org/
//rivendell-158253016766.d.codeartifact.us-east-2.amazonaws.com/npm/frontend/:_authToken=
//rivendell-158253016766.d.codeartifact.us-east-2.amazonaws.com/npm/qa/:_authToken=
